


/* orange color: #e67e22*/
/*--------basic set up section--------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #fff;
    color: #555;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.clearfix {zoom: 1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*--------reusble components section--------*/
.row{
    

    max-width: 1140px;
    margin: 0 auto;
}

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(/image/Kitty-Su-Lalit.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

/*-----HEADER-------*/
h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    font-weight: 300; 
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4;

}
.hero-text-box{
    position: absolute;
    max-width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}



/*------BUTTONS--------*/
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s,border 0.2s color 0.2s;

}
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
     background-color:#e67e22;
} 
.btn-full:link,
.btn-full:visited,
input[type=submit] 
{  
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: white;
    margin-right: 15px;

}
.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color:orange;
}
.btn-full:hover,
.btn-full:active,
input[type=submit] {  
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: white;

}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #e67e22;
    color:white 
}   

/*-----HEADER-------*/
header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(/html/Resources/image/Kitty-Su-Lalit.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
} 
.hero-text-box{
    position: absolute;
    max-width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}
.nav{
    background: red;
}
/*-------logo-------*/
.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
} 
/* Navigation decoration*/

.main-nav{
    background: purple;
    float: right;
    list-style: none;
    margin-top: 60px;
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
    
    border-radius: 50px;
    color: white;
    font-weight: bold;
    
}
.main-nav li a{
    background: purple;
    color: white;
    border-radius: 4rem

}
.main-nav li a:link,
.main-nev li a:visited{
    padding: 8px 0;
    color: rgb(255, 255, 255);
    
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
/* navigation line*/

.main-nav li a:hover,
.main-nev li a:active{
    border-bottom: 2px solid #e67e22;
}
/* sections  */
.section{
    clear: both;
    padding: 0px;
    margin: 0px;
}
/*---Grouping----*/
.container{
    display: flex;
    flex-direction: row;
    padding: 10px 100px 0 ;

}
.col{
    
    text-align:left;
    font-size: smaller;
}
.span{
    font-size: large;
}
/*get food fast property */
h2{
    font-size: 180%;
    word-spacing: 1px;
    text-align: center;
    padding-top: 3%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}
h2::after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15px;
}
.box{
    padding: 1%;
}
h3{
    font-size: 110%;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
    padding-top: 3%;
    margin-bottom: 15px;
    font-weight: bold;

}
/*---MEALS-SHOWCASE---*/



.meals-showcase{
    list-style: none;
    width: 100%;
    
    

}
.meals-showcase li {
    display: block;
    float: left;
    width: 25%;

    
}
.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img{
    width: 100%; 
    height: 275px;
    transform: scale(1.15 );
    transition: transform 0.5s opacity 0.5s;
    opacity: 0.7;

} 
.meal-photo img size{
    height: 275%;
    width: auto;

}
.meal-photo img:hover{
    opacity: 1 ;
    transform: scale(1.03 );

}
/* how is works*/
.slection-steps{
    background-color: rgba(204, 201, 201, 0.87);
}

.steps-box:first-child{
    text-align: right;
    padding: 3%;
    margin-top: 30px;

}
.steps-box:last-child{
    padding: 40%;
    margin-top: 70px;
}
.app-screen{
    float: left;
    
    width: 15%;
    height: auto;
    text-align: center;
    
}
.works-step{
    float: left;
    text-align: left;
    padding-right: 5%;
    padding-left: 3%;
    margin-bottom: 50px;
    margin-top: 20px;
}
.works-step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    
    font-size: 150%;
    margin-right: 15px;
    
}
.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
    text-align: left;
    float: left;

}

      

/* Grid colum Setup*/
.location_card{
    display: grid;
    grid-template-columns: 3fr auto;
    gap: 1rem;
    
    
} 
.box{
    border: red solid 1px;
    border-radius: 15px;
    padding: 30px;
    gap: 2rem;
}
.col{
    display: block;
    float: left;
    margin: 1% 0 1.6%;
}
.col span-1-of-4{
    grid-column:auto;
}
.col span-2-of-4{
    grid-auto-flow: column;
}
.slection-steps toy{
    background-color: rgba(177, 169, 169, 0.637);
}

/*-------section-cities--------*/
.box img{
    width: 100%;
    height: auto ;
    margin-bottom: 15px;
    
    
     
    

}
.box h3{
    text-align: left;
    margin: 5px;
   
}
.cities-feature{
   margin-bottom: 5px;
}
.icons-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 5px;
    /* ways of aligning text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/*------links--------*/
.a:link,
.a:active {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid orange;
    
}
.icons{
    color: orange;
    size: 45px;
}
/*------commemt-section--------*/
.commemt-section {
    background-image: linear-gradient(rgba(58, 55, 55, 0.781),rgba(58, 54, 54, 0.7)), url(/html/Resources/image/food7.jpeg);
    background-size: cover;
    background-position: center;
    color: white;
    background-attachment: fixed;
    

}
.grid-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}    
blockquote{
    padding: 5%;
    font-style: italic;
    line-height: 145%;
    position: relative;
}
blockquote:before{
    content: "\f347";
    font-size: 400%;
    display: block;
    position: absolute;
    top: 5PX;
    left: 0;
}
cite{
    font-size: 90%z;
    margin-top: 25px;
    display: block;

}
cite img{
   height: 50px;
   border-radius: 50%;
   margin-right: 10px;
    vertical-align: middle;
    
}
.section-plans{
    background-color: #aaa7a7;   
}
.final{
    display: flex;
    justify-content: space-evenly;
}

.plan-box{
    background-color: rgb(198, 203, 204);
    border-radius: 55px;
    
}
.plan-box div{
    
    padding: 15px;
    border-bottom: 1px solid rgb(206, 4, 4);
}
.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #f1291a;
}
.plan-price span{
    font-size: 30%;
    font-weight: 0;
    
    
}
.plan-price-meal{
    font-size: 15px;
    color: #070707;

}
.plan-box ul{
    list-style: none;    

}
.table li i{ 
    text-align: center;
    padding: 5px 0;
    color: rgb(255, 255, 255);
    word-spacing: 2px;
    
}
/*...section-from....*/
.sectionfrom{
    background-color: white;

}
.form-arrange{
    display: grid;
    grid-auto-flow: column;
}

/*...contact-form....*/
.contact-form{
    width: 60%;
    margin: 0 auto;
  
}
input[type=text],
input[type=email],select,textarea{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(224, 201, 201); 
}
textarea{
    text-align: center;
     
}
input[type=checkbok] {
    margin: 10px 5px 10px 0;
}
*:focus {outline: none;
}
/*...footer...*/  
.toyo{
    background-color: #000;
    padding: 60px;
    

}
.footer-link{
    display: flex;
    float: left;
    gap: 50px;
    list-style: none;
    
    
}
.footer-link1{
    
    display: flex;
    justify-content: right;
    list-style: none;
    gap: 56px;
    
    
    

}
.footer-link1 div li i {
    color: #f1291a
}
.facebook{
    color: #0017e2;
}
.twitter{
    color: #2437e7;
}
.google{
    color: #f1291a;
}
.instagram{
    color: #830d05d8;
}
.row-footer{
    color: rgb(170, 163, 163);
    text-align: center;
    font-size: small;


}
.row-footer marquee{
    background-color: #e67e22;
    color: #fafafaf3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    word-spacing: 5px;
    scroll-behavior: smooth;
    margin-top: 30px;

    
}


    
    
    


    
    
    


  